<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>recordingsDir</key>
	<string>~/Simulator Recordings</string>
	<key>revealInFinder</key>
	<true/>
	<key>videoNameFormat</key>
	<string>Recording ${date:?} at ${time:?} for ${device:?} - ${version:?}</string>
	<key>compressionEnabled</key>
	<false/>
</dict>
</plist>
