//
//  GEShared.xcconfig
//  
//
//  Created by Grigory Entin on 07/05/16.
//
//

#include "../GEShared-SDKRoot.xcconfig"
#include "GEShared-CodeGeneration.xcconfig"
#include "GEShared-FrameworkLinking.xcconfig"

GE_VERBOSE = NO

GE_V_FOR_VERBOSE__GE_VERBOSE__YES = v
GE_V_FOR_VERBOSE = $(GE_V_FOR_VERBOSE__GE_VERBOSE__$(GE_VERBOSE))

SKIP_INSTALL = NO

IPHONEOS_DEPLOYMENT_TARGET = 11.0

ONLY_ACTIVE_ARCH__CONFIGURATION__Debug = YES
ONLY_ACTIVE_ARCH__CONFIGURATION__Release = NO
ONLY_ACTIVE_ARCH = $(ONLY_ACTIVE_ARCH__CONFIGURATION__$(CONFIGURATION))

SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
CODE_SIGN_IDENTITY[sdk=macosx*] = Mac Developer
COPY_PHASE_STRIP = NO
SKIP_INSTALL = YES

ENABLE_TESTABILITY__CONFIGURATION__Debug = YES
ENABLE_TESTABILITY__CONFIGURATION__Release = NO
ENABLE_TESTABILITY = $(ENABLE_TESTABILITY__CONFIGURATION__$(CONFIGURATION))

TEST_HOST[sdk=iphoneos*] = $(BUILT_PRODUCTS_DIR)/TestHost-iOS.app/TestHost-iOS
TEST_HOST[sdk=iphonesimulator*] = $(BUILT_PRODUCTS_DIR)/TestHost-iOS.app/TestHost-iOS
TEST_HOST[sdk=macosx*] = $(BUILT_PRODUCTS_DIR)/TestHost-macOS.app/Contents/MacOS/TestHost-macOS

LD_RUNPATH_SEARCH_PATHS[sdk=iphoneos*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=iphonesimulator*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = @loader_path/../Frameworks @executable_path/../Frameworks

ALWAYS_SEARCH_USER_PATHS = NO

SWIFT_OPTIMIZATION_LEVEL__CONFIGURATION__Debug = -Onone
SWIFT_OPTIMIZATION_LEVEL__CONFIGURATION__Release = -Owholemodule
SWIFT_OPTIMIZATION_LEVEL = $(SWIFT_OPTIMIZATION_LEVEL__CONFIGURATION__$(CONFIGURATION))

SWIFT_COMPILATION_MODE__CONFIGURATION__Debug = singlefile
SWIFT_COMPILATION_MODE__CONFIGURATION__Release = wholemodule
SWIFT_COMPILATION_MODE = $(SWIFT_COMPILATION_MODE__CONFIGURATION__$(CONFIGURATION))

LLVM_LTO = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_LOCALIZABILITY_EMPTY_CONTEXT = YES
CLANG_ANALYZER_NONNULL = YES

ENABLE_BITCODE__CONFIGURATION__Debug = NO
ENABLE_BITCODE__CONFIGURATION__Release = NO
ENABLE_BITCODE = $(ENABLE_BITCODE__CONFIGURATION__$(CONFIGURATION))

VALIDATE_PRODUCT__CONFIGURATION__Release = YES
VALIDATE_PRODUCT__CONFIGURATION__Debug = NO
VALIDATE_PRODUCT = $(VALIDATE_PRODUCT__CONFIGURATION__$(CONFIGURATION))

DEBUG_INFORMATION_FORMAT__CONFIGURATION__Debug = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT__CONFIGURATION__Release = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT = $(DEBUG_INFORMATION_FORMAT__CONFIGURATION__$(CONFIGURATION))

SWIFT_TREAT_WARNINGS_AS_ERRORS = YES

GCC_WARN_UNUSED_VARIABLE = YES

SWIFT_VERSION = 4.0
SWIFT_SWIFT3_OBJC_INFERENCE = Off
SWIFT_INSTALL_OBJC_HEADER = NO
DEFINES_MODULE = NO

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS

SWIFT_ACTIVE_COMPILATION_CONDITIONS__CONFIGURATION__Debug = DEBUG GE_TRACE_ENABLED 
SWIFT_ACTIVE_COMPILATION_CONDITIONS__CONFIGURATION__Release = GE_TRACE_ENABLED
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) $(SWIFT_ACTIVE_COMPILATION_CONDITIONS__CONFIGURATION__$(CONFIGURATION))

GE_EXTRA_OTHER_SWIFT_FLAGS__CONFIGURATION__Release = -Xfrontend -warn-long-function-bodies=500
OTHER_SWIFT_FLAGS = $(inherited) $(GE_EXTRA_OTHER_SWIFT_FLAGS__CONFIGURATION__$(CONFIGURATION))

OTHER_LDFLAGS = $(inherited) $(GE_FRAMEWORK_LINKING_LDFLAGS) $(GE_TARGET_EXTRA_OTHER_LDFLAGS)
FRAMEWORK_SEARCH_PATHS = $(inherited) $(GE_EXTRA_FRAMEWORK_SEARCH_PATHS)

GE_XCODE_BUILD_PHASES = $(SRCROOT)/../XcodeBuildPhases
GE_XCODE_SCRIPTS = $(SRCROOT)/../XcodeScripts
GE_XCODE_RULES = $(SRCROOT)/../XcodeRules

PODS_ROOT = $(SRCROOT)/../Pods
