//
//  GEShared-FrameworkLinking.xcconfig
//  XcodeConfiguration
//
//  Created by Grigory Entin on 10.01.2018.
//

//
// static | dynamic
//
GE_FRAMEWORK_LINKING = dynamic

GE_FRAMEWORK_MACH_O_TYPE__GE_FRAMEWORK_LINKING__static = staticlib
GE_FRAMEWORK_MACH_O_TYPE__GE_FRAMEWORK_LINKING__dynamic = mh_dylib
GE_FRAMEWORK_MACH_O_TYPE = $(GE_FRAMEWORK_MACH_O_TYPE__GE_FRAMEWORK_LINKING__$(GE_FRAMEWORK_LINKING))

GE_PRODUCT_TYPE = $(PRODUCT_TYPE:lower:identifier)

MACH_O_TYPE__GE_PRODUCT_TYPE__com_apple_product_type_framework = $(GE_FRAMEWORK_MACH_O_TYPE)
MACH_O_TYPE__GE_PRODUCT_TYPE__com_apple_product_type_application = mh_execute
MACH_O_TYPE__GE_PRODUCT_TYPE__com_apple_product_type_bundle_unit_test = mh_bundle
MACH_O_TYPE__GE_PRODUCT_TYPE__com_apple_product_type_bundle_ui_testing = mh_bundle

/// ***
MACH_O_TYPE = $(MACH_O_TYPE__GE_PRODUCT_TYPE__$(GE_PRODUCT_TYPE))

GE_FRAMEWORK_LINKING_LDFLAGS__GE_FRAMEWORK_LINKING__static = -ObjC
GE_FRAMEWORK_LINKING_LDFLAGS__GE_FRAMEWORK_LINKING__dynamic =

/// ***
GE_FRAMEWORK_LINKING_LDFLAGS = $(GE_FRAMEWORK_LINKING_LDFLAGS__GE_FRAMEWORK_LINKING__$(GE_FRAMEWORK_LINKING))

// Force shared bundle for resources. Yep, it won't work in case of multiple bundles.
GE_STATIC_FRAMEWORK_RESOURCES_COLLECTOR_FOLDER_PATH = StaticFrameworkResources

GE_DYNAMIC_FRAMEWORKS_COLLECTOR_FOLDER_PATH = $(TARGET_NAME)-DynamicFrameworks

GE_DEFAULT_UNLOCALIZED_RESOURCES_FOLDER_PATH[sdk=macosx*] = $CONTENTS_FOLDER_PATH
GE_DEFAULT_UNLOCALIZED_RESOURCES_FOLDER_PATH[sdk=iphoneos*] = $CONTENTS_FOLDER_PATH
GE_DEFAULT_UNLOCALIZED_RESOURCES_FOLDER_PATH[sdk=iphonesimulator*] = $CONTENTS_FOLDER_PATH

GE_FRAMEWORK_UNLOCALIZED_RESOURCES_FOLDER_PATH__GE_FRAMEWORK_LINKING__static = $GE_STATIC_FRAMEWORK_RESOURCES_COLLECTOR_FOLDER_PATH
GE_FRAMEWORK_UNLOCALIZED_RESOURCES_FOLDER_PATH__GE_FRAMEWORK_LINKING__dynamic = $GE_DEFAULT_UNLOCALIZED_RESOURCES_FOLDER_PATH
GE_FRAMEWORK_UNLOCALIZED_RESOURCES_FOLDER_PATH = $(GE_FRAMEWORK_UNLOCALIZED_RESOURCES_FOLDER_PATH__GE_FRAMEWORK_LINKING__$(GE_FRAMEWORK_LINKING))

UNLOCALIZED_RESOURCES_FOLDER_PATH__GE_PRODUCT_TYPE__com_apple_product_type_framework = $GE_FRAMEWORK_UNLOCALIZED_RESOURCES_FOLDER_PATH
UNLOCALIZED_RESOURCES_FOLDER_PATH__GE_PRODUCT_TYPE__com_apple_product_type_application = $GE_DEFAULT_UNLOCALIZED_RESOURCES_FOLDER_PATH
UNLOCALIZED_RESOURCES_FOLDER_PATH__GE_PRODUCT_TYPE__com_apple_product_type_bundle_unit_test = $GE_DEFAULT_UNLOCALIZED_RESOURCES_FOLDER_PATH
UNLOCALIZED_RESOURCES_FOLDER_PATH__GE_PRODUCT_TYPE__com_apple_product_type_bundle_ui_testing = $GE_DEFAULT_UNLOCALIZED_RESOURCES_FOLDER_PATH

/// ***
UNLOCALIZED_RESOURCES_FOLDER_PATH = $(UNLOCALIZED_RESOURCES_FOLDER_PATH__GE_PRODUCT_TYPE__$(GE_PRODUCT_TYPE))
